body {
    font: normal 14px/1.3 sans-serif;
}
.page {
    margin: 0 auto;
    width: 350px;
    margin-top: 10px;
}
.page > .clearfix {
    width: 350px;
    position: relative;
}
.wrapper {
    position: relative;
}
.ruPhrase {
    background-color: #f0f0f0;
    padding: 2px 8px;
    width: 293px;
    text-shadow: 0 1px 0 white;
}
.enPhrase {
    background-color: #f0f0f0;
    border: none;
    width: 218px;
    padding: 3px 8px;
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
    outline: none;
    text-shadow: 0 1px 0 white;
}
.enPhrase:focus {
    background-color: #e9e4f0;
}
.enPhrase.true {
    background-color: #d9fbe1;
    color: green;
}
.enPhrase.false {
    background-color: #FFE5EC;
    color: #AC0400;
}
.but {
    display: inline-block;
    padding: 2px 11px;
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 0 black;
    background-color: black;
    -webkit-user-select: none;
    user-select: none;
}
.but:hover {
    background-color: #414141;
}
.but:active {
    background-color: #e90074;
}
.ok {
    width: 50px;
    text-align: center;
}
.outPhraseReal {
    color: black;
    padding: 1px 8px;
    width: 291px;
    height: 18px;
    margin-top: 3px;
    display: none;
}
.iTrue {
    left: -33px; top: 25px;
    background-color: #d9fbe1;
    width: 30px; height: 22px; line-height: 22px;
    vertical-align: middle;
    text-align: center;
    display: none;
    text-shadow: 0 1px 0 white;
}
.iFalse {
    left: -33px; top: 0;
    background-color: #ffe5ec;
    width: 30px; height: 22px; line-height: 22px;
    vertical-align: middle;
    text-align: center;
    display: none;
    text-shadow: 0 1px 0 white;
}
/******************************************************************************************************* optionsBlock */
.optionsBlock {
    background-color: white;
    width: 800px;
    position: absolute;
    left: 50%; margin-left: -400px;
}
.optionsBlock.down {
    box-shadow: -3px 5px 24px 10px rgba(0, 0, 0, 0.2);
}
.optionsBut.down {
    box-shadow: -3px 10px 14px 1px rgba(0, 0, 0, 0.2);
}
.optionsBlockInner {
    padding: 10px;
}
.optionsBut {
    position: absolute;
    bottom: -22px; right: 0;
    width: 66px;
    padding: 2px 0;
    text-align: center;
    /*margin: 0;*/
}
.optionsBlock h3 {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.optionsBlock input[type="radio"] {
    margin-left: 1px;
    padding-top: 5px;
    position: relative;
    top: 1px;
    cursor: pointer;
}
.optionsBlock #darkStyle {
    margin-left: 10px;
}
.optionsBlock label {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.verbsOutput {
    height: 200px;
    position: relative;
    display: none;
    width: 800px;
    left: -10px;
    background-color: #fafafa;
}
.enterVerb {
    margin-right: 0;
    outline: none;
    border:1px solid #8c8c8c;
    padding: 2px 5px;

}
.enterVerb:focus {
    border:1px solid black;
}
.check {
    margin-left: -1px;
}
.verbsOutput .transInp {
    border: none;
    font-size: 14px;
    padding-left: 3px;
    background-color: #F0F0F0;
    outline: none;
}
.verbsOutput .verbsOutputPast,
.verbsOutput .verbsOutputPresent,
.verbsOutput .verbsOutputFuture  {
    background-color: #efefef;
    padding: 5px 10px;
    width: 200px;
    position: absolute;
    top: 15px; left: 0;
    display: none;
}
.verbsOutput .verbsOutputPresent {
    left: 282px
}
.verbsOutput .verbsOutputFuture {
    right: 0; left: auto;
}
.verbsOutput h4 {
    font-weight: bold;
    padding-bottom: 4px;
}
/*********************************************************************************************************** clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
/**********************************************************************************************************************/
.fl {
    float: left;
}
.rl {
    position: relative;
}
.abs {
    position: absolute;
}